.btn-react {
  padding: 8px 16px;
  font-family: "Roboto", sans-serif;
  border-width: 0;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 0 20px #eee;
}

.btn-react.primary {
  color: white;
  transition: 0.5s;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
}

.btn-react.primary:hover {
  background-position: right center;
}

.btn-react.large {
  width: 100%;
}
