* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-image: url(img/thumb-1920-1374972.jpg);
  color: #000000;
}

.container{
  padding: 1rem;
}